<html xmlns:th="http://www.thymeleaf.org">
<hr>
<div th:fragment="services">
    List of services
    <hr>
    <table>
        <tr th:each="sa: ${serviceAdapters}">
            <td>
                <a th:href="${sa.logicalTypeName} + '/'" th:text="${sa.logicalTypeName}"></a>
            </td>
        </tr>
    </table>
</div>
<hr>
<div th:fragment="service">
    Single service
    <hr>
    <div th:text="${serviceAdapter.logicalTypeName}">logicalTypeName</div>
    <table>
        <tr th:each="act: ${serviceActions}">
            <td>
                <a th:href="'actions/' +  ${act.id} + '/'" th:text="${act.id}"></a>
            </td>
        </tr>
    </table>
</div>
<hr>
<div th:fragment="action">
    Action
    <hr>
    <input type="textarea" aria-invalid="true"
           th:if="${bindingResult?.getFieldError(action?.id)}"
           th:value="${bindingResult?.getFieldError(action?.id)?.getDefaultMessage()}"
           class="textarea textarea-error"/>
    <form method="POST"
          th:action="${'/web/services/' + action.owner.logicalTypeName + '/actions/' + action.id + '/invoke.htmx'}">
        <div th:each="p: ${action.getMetaModel().getParameters()}">
            <label class="label">
                <span th:text="${p.getCanonicalFriendlyName()}" class="label-text">Property</span>
            </label>
            <input th:name="${p.id}" class="input input-bordered w-full max-w-xs"/>
            <div th:if="${bindingResult?.getFieldError(p.getCanonicalFriendlyName())}"
                 aria-invalid="true" role="alert" class="alert alert-error shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                     viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
                <div>
                    <h3 class="font-bold">Error</h3>
                    <div th:value="${bindingResult?.getFieldError(p.getCanonicalFriendlyName())?.getDefaultMessage()}"
                         class="text-xs">Error msg
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" th:value="${action.getFriendlyName()}" class="btn btn-primary">
    </form>
</div>
<hr>
<div th:fragment="actionResultList">
    Action result List
    <hr>
    <li th:each="p : ${actionResult.actionReturnedObject.pojo}">
        <a th:href="${@causewaySpringMvcMetaModelAdapter.getBookmarkAsUrl(p)}"
           th:text="${p}"/>
    </li>
</div>
<hr>
<div th:fragment="actionResultObject">
    Action result Object
    <hr>
    <div th:text="${actionResult.actionReturnedObject.pojo}"></div>
</div>
<hr>
<div th:fragment="actionResultEmpty">
    Action result Empty
    <hr>
    <div th:text="${actionResult.actionReturnedObject}"></div>
</div>
</html>