<html xmlns:th="http://www.thymeleaf.org">
<hr>
<div th:fragment="services">
    List of services
    <hr>
    <table>
        <tr th:each="sa: ${serviceAdapters}">
            <td>
                <a th:href="${sa.logicalTypeName} + '/'" th:text="${sa.logicalTypeName}"></a>
            </td>
        </tr>
    </table>
</div>
<hr>
<div th:fragment="service">
    Single service
    <hr>
    <div th:text="${serviceAdapter.logicalTypeName}">logicalTypeName</div>
    <table>
        <tr th:each="act: ${serviceActions}">
            <td>
                <a th:href="'actions/' +  ${act.id} + '/'" th:text="${act.id}"></a>
            </td>
        </tr>
    </table>
    <hr>
    <a href="../">Go Back </a>
</div>
<hr>
<div th:fragment="action">
    Action
    <hr>
    <div th:text="${bindingResult?.getFieldError(action?.id)?.getDefaultMessage()}">Action Error</div>
    <form method="POST" th:action="${actionInteraction==null?'invoke/':'.'}">
        <div th:each="p: ${action.getMetaModel().getParameters()}">
            <label th:text="${p.getCanonicalFriendlyName()}"></label>
            <input th:name="${p.id}">
            <div th:text="${bindingResult?.getFieldError(p.getCanonicalFriendlyName())?.getDefaultMessage()}">Field
                Error
            </div>
        </div>
        <input type="submit" th:value="${action.getFriendlyName()}">
    </form>
    <hr>
    <a href="../../">Go Back </a>
</div>
<hr>
<div th:fragment="actionResultList">
    Action result List
    <hr>
    <li th:each="p : ${actionResult.actionReturnedObject.pojo}">
        <a th:href="${@causewaySpringMvcMetaModelAdapter.getBookmarkAsUrl(p)}"
           th:text="${p}"/>
    </li>
    <a href="..">Go Back </a>
</div>
<hr>
<div th:fragment="actionResultObject">
    Action result Object
    <hr>
    <div th:text="${actionResult.actionReturnedObject.pojo}"></div>
    <hr>
    <a href="..">Go Back </a>
</div>
<hr>
<div th:fragment="actionResultEmpty">
    Action result Empty
    <hr>
    <div th:text="${actionResult.actionReturnedObject}"></div>
    <hr>
    <a href="..">Go Back </a>
</div>
</html>